/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
}

body {
  color: rgb(58, 58, 58);
  background-color: bisque;
}

.dark-mode {
  background-color: rgb(58, 58, 58);
  color: bisque;
}

div.nav {
  position: sticky;
  display: flex;
  border-top: solid 2px rgb(110, 86, 57);
  border-bottom: solid 2px rgb(110, 86, 57);
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vw;
  width: 100vw;
  padding: 50px 20px;
  margin: 50px 30px;
  border: solid 2px rgb(110, 86, 57);
}

.entry_box {
  display: inline-block;
  padding: 20px 0;
  height: 90%;
  line-height: 1.5;
}

.post_header {
  padding: 20px 0;
  border-bottom: solid 2px rgb(110, 86, 57);
}


footer p {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.back-button {
  color: rgb(110, 86, 57);
  padding: 0 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  /* Remove underline from anchor tag */
  display: flex;
  align-items: center;
  border-radius: 5px;
  /* Optional: Rounded corners */
}

.back-button:hover {
  background-color: rgb(110, 86, 57);
  color: bisque;
}











.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(110, 86, 57);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: bisque
}

input:focus+.slider {
  box-shadow: 0 0 1px rgb(110, 86, 57);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}